@import '../../styles/variables.scss';

$LRMargin: 24px;

.guestList {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 24px 24px 28px;
  border-radius: 32px;
  background-color: $dudeG_Surface;

  display: flex;
  flex-direction: column;
  gap: 32px;
}
