// TODO: global import

.container {
  display: flex;
  align-items: center;
  margin: 56px 0 40px;
}

.nameWrapper {
  font-size: 20px;
  line-height: 29px;

  .name {
    color: $dudeG_Primary;
    padding: 0 8px;
  }

  .text {
    color: $dudeG_Secondary;
  }
}
